{% extends 'base.html' %}
{% load humanize %}
{% block title %} | سفارش شما {% endblock %}

{% block content %}

<div class="row mb-5">
    <div class="col-1 col-md-2"></div>
    <div class="col-10 col-md-8">
       
        <section id="cart_items" class="pb-0 mt-5">
            <div class="container productcontainer">
                <h3 class="py-3 title-table">سفارش شما</h3>
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td ></td>
                                <td class="description">محصول</td>
                                <td class="total">مجمـوع</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% with items=order.items.all %}
                                {% for item in items %}
                                <tr>
                                    <td class="cart_item_number">{{ forloop.counter }}</td>
                                    <td class="cart_description">
                                        <p class="text-center">{{ item.product.name }}</p>
                                    </td>
                                    <td class="cart_total">
                                        <p class="text-center cart_total_price">{{ item.get_cost|intcomma:False}} ریال</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endwith %}
                        </tbody>
                        <tfoot>
                            
                            <tr>
                                <td colspan="2" class="cart_description">
                                    <p class="text-center"> هزينه ارسال </p>
                                </td>
                                <td class="cart_total">
                                    <p class="text-center cart_total_price">رايگان</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="cart_description">
                                    <p  class="text-center">مجموع سفارش </p>
                                </td>
                                <td class="cart_total">
                                    <p class="text-center cart_total_price">{{ order.get_total_price|intcomma:False}} ریال</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="cart_description">
                                    <p  class="text-center">شماره سفارش </p>
                                </td>
                                <td class="cart_total">
                                    <p class="text-center cart_total_price">{{ order.random_order_id }} </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="cart_description">
                                    <p  class="text-center">شماره تراکنش بانک  </p>
                                </td>
                                <td class="cart_total">
                                    <p class="text-center cart_total_price">{{ order.refId }} </p>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
        <section  class="pt-0">
            <div class="container checkout_action">
                    <table class="form-checkout">
                            <tr>
                                <td> <label for="#address" class="form-control-lable ml-3"> آدرس</label></td>
                                <td>
                                    {{ order.address }}
                                    
                                </td>
                            </tr>
                            <tr>
                                <td> <label for="#postcode" class="form-control-lable ml-3"> كد پستي</label></td>
                                <td>
                                    {{ order.post_code }}
                                    
                                </td>
                            </tr>
                            
                    </table>
                </div>
        </section>
    </div>
    <div class="col-1 col-md-2"></div>
    <a href="{% url 'orders:export_factor' order.random_order_id %}" class="btn btn-primary mx-auto my-4">پرينت فاكتور</a>
</div>

{% endblock %}