{% extends 'base.html' %}
{% load static %}
{% block title %}| بازیابی گذر واژه {% endblock title %}

{% block content %}
<br />
	<section class="content my-5">
      <div class="container">
        <div class="row">
           {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
          <div class="col-md-6 col-12 mx-auto">
            <form method="POST" class="form-login" novalidate>
                   {% csrf_token %}
                    <b class="register-title">	بازیابی گذر واژه</b>
				    <span  class="input100 mb-5" >
						 گذر واژه جدیدتان را دوباره وارد کنید تا ما بتوانیم چک کنیم که به درستی تایپ کرده اید.
					</span>
                    {% if validlink %}
                        <div class="wrap-input100 validate-input form-group register" data-validate = "Valid email is: a@b.c">
                             <span class="btn-show-pass">
                                <i class="fa fa-eye"></i>
                             </span>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.new_password1.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <span class="focus-input100" data-placeholder="گذر واژه جدید"></span>
                        </div>
                        <div class="wrap-input100 validate-input form-group register" data-validate = "Valid email is: a@b.c">
                            <span class="btn-show-pass">
                                <i class="fa fa-eye"></i>
                             </span>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.new_password2.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <span class="focus-input100" data-placeholder="تکرار گذر واژه"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                          تغییر گذر واژه من
                        </button>

                    {% else %}
                        <span style="font-size: 15px; line-height: 20px;" class="input100 mt-2" >
						    لینک منقضی شده است. برای بازیابی گذر واژه دوباره <a style="font-size: 18px; color: blue;" href="{% url 'accounts:password_reset' %}"> کلیک </a>کنید.
					    </span>
                    {% endif %}

			</form>
          </div>
		</div>
	  </div>
    </section>

{% endblock %}




