{% load static %}
<footer class="py-3 ">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-1"></div>
            <div class="col-2 footer-item ">
                <a href="#"> <img src="{% static 'image/express.svg' %}" class="img-fluid"></a>
                <span class="text">تحویل اکسپرس</span>
            </div>
            <div class="col-2 footer-item ">
                <a href="#"><img src="{% static 'image/support.svg' %}" class="img-fluid"></a>
                <span class="text">پشتیبانی 24 ساعته</span>
            </div>
            <div class="col-2 footer-item ">
                <a href="#"> <img src="{% static 'image/payment.svg' %}" class="img-fluid"></a>
                <span class="text">پرداخت در محل</span>
            </div>
            <div class="col-2 footer-item">
                <a href="#"> <img src="{% static 'image/warranty.svg' %}" class="img-fluid"></a>
                <span class="text">7 روز ضمانت بازگشت</span>
            </div>
            <div class="col-2 footer-item ">
                <a href="#"><img src="{% static 'image/original.svg' %}" class="img-fluid"></a>
                <span class="text">ضمانت اصل بودن کالا</span>
            </div>
            <div class="col-1"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4 col-md-2">
                <h5 class="footer-title py-3">راهنمای خرید از سانتك</h5>
                <a href="#" class="section-li">نحوه ثبت سفارش</a>
                <a href="#" class="section-li">رویه ارسال سفارش</a>
                <a href="#" class="section-li">شیوه های پرداخت</a>
            </div>
            <div class="col-4 col-md-2">
                <h5 class="footer-title py-3">خدمات مشتریان</h5>
                <a href="#" class="section-li">پاسخ به پرسش های متداول</a>
                <a href="#" class="section-li">رویه‌های بازگرداندن کالا</a>
                <a href="#" class="section-li">شرایط استفاده</a>
                <a href="#" class="section-li">حریم خصوصی</a>
            </div>
            <div class="col-4 col-md-2">
                <h5 class="footer-title py-3">با سانتك</h5>
                <a href="{% url 'contacts:contact_us' %}" class="section-li">تماس با سانتك</a>
                <a href="#" class="section-li">درباره سانتك</a>
            </div>
            <div class="col-12 col-md-6">
                <h5 class="footer-title py-3">از تخفیف‌ها و جدیدترین‌های سانتك باخبر شوید</h5>
                <form class="newletter">
                    <input class="form-control w-75 d-inline" type="email" id="email"
                        placeholder="آدرس ایمیل خود را وارد کنید">
                    <button class="btn btn-primary " type="submit">ارسال</button>
                </form>
                <h5 class="footer-title py-3">سانتك را در شبکه‌های اجتماعی دنبال کنید</h5>
                <ul class="footer-social ">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-telegram"></i></a></li>
                    <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 col-md-8 footer-info">
                <p>
                    هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
                </p>
                <p>
                    شماره تماس : ۹۴۶۳۰۰۰۰ - ۰۲۴
                </p>
                <p>
                    آدرس ایمیل : info@santech.com
                </p>
            </div>
            <div class="col-6 col-md-4">
                <a href="#"><img src="{% static 'image/12 (1).png' %}" alt="" class="img-fluid img-footer"></a>
                <a href="#"><img src="{% static 'image/12 (2).png' %}" alt="" class="img-fluid img-footer"></a>
            </div>
        </div>
    </div>
</footer>
<section class="footer2 px-4 pt-4">
    <div class="container-fluid">
        <div class="row">
            <h5>
                فروشگاه اینترنتی سانتك بررسی، انتخاب و خرید آنلاین
            </h5>
            <p class="info-footer2">
                سانتك به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل،
                پرداخت در محل، 7 روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر
                جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت سانتك با دنیایی از کالا رو
                به رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.مشاهده بیشتر
                اسباب بازی عطر و ادوکلن تلویزیون مانتو
            </p>

            <br>
            <br>
            <p class="footer-privacy mx-auto mt-5">تمام حقوق این وب سایت متعلق به سانتك است|
                <a href="https://www.linkedin.com/mwlite/in/sahar-gerameifar-7b226712a" class="footer-privacy-link ">طراحی شده توسط: سحر گرامي فر </a>
            </p>
        </div>
    </div>
</section>